<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Cadastro </title>
</head>
<body>
    <div class="container"> 
        <h1 class="text-center"> Controle de Validades <span> <i class="bi bi-bag-plus-fill btn" onclick="window.location='/'"> </i> </span> </h1>

        <form action="" method="post" class="form-control">
            <input type="text" name="produto" class="form-control" placeholder="Produto" id="" required>
            <input type="date" name="Validade" class="form-control" id="" required>
            <input type="submit" value="SALVAR" class="form-control btn btn-outline-success">
            <input type="button" value="CANCELAR" class="form-control btn btn-outline-danger">
        </form>
    </div>
</body>
 <!-- js bootstrap -->
</html>